/*** General Declarations  ***/
body {
    font-size: 16px;
}

.container {
    margin: 0 1.5rem;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/*  Header Section */
header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 4rem;
}

.logo {
    flex-grow: 1;
    height: 2rem;
    display: flex;
    align-items: center;
}

.bold {
    font-weight: bold;
}

nav a {
    text-decoration: none;
    color: black;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

/* Start Here Section */
.banner {
    background-color: lightgrey;
    display: flex;
}

.banner-image {
    padding: 2rem 1.5rem;
    width: 60%;
    overflow: hidden;
}


.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.cta h1,
h3 {
    margin: 1.5rem 0;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkgrey;
    padding: 0.5rem 0;
}

/* Article Section */
.articles {
    display: flex;
}

.main {
    margin: 2rem 1.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main h2 {
    margin: 2rem 0 1.5rem 0;
}

.side {
    width: 40%;
    padding: 1rem 0 2rem 0;
}

.side .one, 
.side .two, 
.side .three {
    display: flex;
    align-items: center;
}

.side img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.three {
    background-color: grey;
}

/* Course Section */
.courses {
    background-color: grey;
}

.courses h1 {
    text-align: center;
    padding-top: 2rem;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3.5rem;
}

/******** Course box */
.course {
    background-color: white;
    margin: 1rem;
    width: 30%;
}

.course img {
    height: auto;
}

.course .caption {
    padding: 1rem 0 1.5rem 1rem;
}

p.subtitle {
    margin: 0.5rem 0;
}

/* Exhibit Section */
.exhibit {
    padding: 0 1.5rem;
    display: flex;
}

h1 {
    text-align: center;
    padding: 2rem 0;
}
 .main-exhibit {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.main-exhibit video {
    padding-bottom: 1.5rem;
}

.side-exhibits {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.side-exhibit {
    display: flex;
    align-items: center;
}

.side-exhibit:first-child {
    background-color: grey;
}

.side-exhibit figcaption {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.side-exhibit img {
    width: 35%;
    margin: 1rem;
}