/*** Fonts ***/

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'), url(https://fonts.gstatic.com/s/montserrat/v11/zhcz-_WihjSQC0oHJ9TCYAzyDMXhdD8sAj6OAJTFsBI.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
} 

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    src: local('Montserrat Medium'), local('Montserrat-Medium'), url(https://fonts.gstatic.com/s/montserrat/v11/BYPM-GE291ZjIXBWrtCweteM9fzAXBk846EtUMhet0E.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: local('Montserrat Bold'), local('Montserrat-Bold'), url(https://fonts.gstatic.com/s/montserrat/v11/IQHow_FEYlDC4Gzy_m8fcmaVI6zN22yiurzcBKxPjFE.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'), url(https://fonts.gstatic.com/s/montserrat/v11/H8_7oktkjVeeX06kbAvc0GXcKQM3CJKNQg5O_z0AU2U.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 300;
    src: local('Ubuntu Light'), local('Ubuntu-Light'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoC1CzjsGyNPYZvgw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

  /* latin */
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    src: local('Ubuntu Bold'), local('Ubuntu-Bold'), url(https://fonts.gstatic.com/s/ubuntu/v11/4iCv6KVjbNBYlgoCxCvjsGyNPYZvgw.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/*** General Declarations  ***/
body {
    font-size: 16px;
    font-family: Montserrat;
}

.container {
    margin: 0 1.5rem;
}

img {
    max-height: 100%;
    max-width: 100%;
}

.caption {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.bold {
    font-weight: 900;
}

/*  Header Section */
header {
    display: flex;
    align-items: center;
    background-color: white;
    height: 4rem;
}

.logo {
    flex-grow: 1;
    height: 2rem;
    display: flex;
    align-items: center;
    font-family: Ubuntu;
}

.logo span#darkgrey {
    font-weight: bold;
    color: #313133;
}

.logo span#grey {
    color: #bfbcb8;
    margin-left: 2px;
}

nav a {
    text-decoration: none;
    color: #313133;
    font-size: 0.8rem;
}

nav a:hover {
    color: #1ba7ff;
    transition: color 150ms ease-out 50ms;
}

nav li {
    display: inline;
    margin-left: 1rem;
}

/* Start Here Section */
.banner {
    background-color: #bfbcb8;
    display: flex;
}

.banner-image {
    padding: 2rem 1.5rem;
    width: 60%;
    overflow: hidden;
}


.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #403F3D;
    width: 40%;
    padding-right: 4rem;
}

.cta h1 {
    font-size: 2.5rem;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
}

.cta h3 {
    font-size: 1.25rem;
    font-weight: medium;
    line-height: 1.5;
}

.cta-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313133;
    padding: 0.5rem 0;
    margin: 2rem 1.5rem 1.5rem 0;
    width: 50%;
}

.cta-btn a {
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}

.cta-btn:hover {
    background-color: #1ba7ff;
    transition: background-color 150ms ease-in-out 50ms;
}

/* Article Section */
.articles {
    display: flex;
}

.main {
    margin: 2rem 1.5rem;
    width:60%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main h2 {
    margin: 2rem 0 1.5rem 0;
}

.side {
    width: 40%;
    padding: 1rem 0 2rem 0;
}

.side .one, 
.side .two, 
.side .three {
    display: flex;
    align-items: center;
}

.side img {
    width: 35%;
    height: auto;
    margin: 1rem;
}

.three {
    background-color: grey;
}

/* Course Section */
.courses {
    background-color: grey;
}

.courses h1 {
    text-align: center;
    padding-top: 2rem;
}

.course-grid {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem 3.5rem;
}

/******** Course box */
.course {
    background-color: white;
    margin: 1rem;
    width: 30%;
}

.course img {
    height: auto;
}

.course .caption {
    padding: 1rem 0 1.5rem 1rem;
}

p.subtitle {
    margin: 0.5rem 0;
}

/* Exhibit Section */
.exhibit {
    padding: 0 1.5rem;
    display: flex;
}

h1 {
    text-align: center;
    padding: 2rem 0;
}
 .main-exhibit {
    display: flex;
    flex-direction: column;
    width: 60%;
    margin-bottom: 2rem;
}

.main-exhibit video {
    padding-bottom: 1.5rem;
}

.side-exhibits {
    width: 40%;
    display: flex;
    flex-direction: column;
    padding-left: 1.5rem;
}

.side-exhibit {
    display: flex;
    align-items: center;
}

.side-exhibit:first-child {
    background-color: grey;
}

.side-exhibit figcaption {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.side-exhibit img {
    width: 35%;
    margin: 1rem;
}

/* Footer Section */
footer {
    border-top: 1px solid grey;
    margin: 0 5px;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;    
}

footer a {
    text-decoration: none;
    padding: 0 1rem;
}